body {
  text-align: center;
  background-color: rgb(238, 31, 31);
}

main {
  width: 900px;
  background: rgb(170, 22, 238);
  border: 50px solid rgb(73, 52, 53);
  padding: 64px;
  margin: 375px;
  margin-bottom: 75px;
  margin-right: 75px;
  text-align: center;
  margin-top: -10px;
}

img {
  max-width: 75%;
  max-height: 75%;
}

h1 {
  color: rgb(0, 2, 1);
  font: weight 100px;
  font-family: "Trebuchet MS";
  font-size: 100px;
}

p {
  color: rgb(0, 0, 0);
  font-size: 50px;
}
h2 {
  font-weight: lighter;
  color: rgb(33, 209, 180);
  font-size: 50px;
}
h3 {
  font-weight: 500;
  color: rgb(35, 102, 91);
}
