body {
    text-align:center;
    background-color:rgb(31, 182, 174)
}


h1{
color:rgb(41, 75, 64)
font: weight 100px;
font-family: weighted;
Font-size: 64px;
}


p{color: rgb(78, 85, 179);}
h2{font-weight:700;
color:rgb(33, 209, 180)}
h3{font-weight:500;
    color:rgb(35, 102, 91)}